<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.incquery.tooling.category"
            id="org.eclipse.incquery.patternregistry.register"
            name="Register patterns">
      </command>
      <command
            categoryId="org.eclipse.incquery.tooling.category"
            id="org.eclipse.incquery.patternregistry.unregister"
            name="Unregister patters">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=group.edit">
         <menu
               id="org.eclipse.viatra2.incquery.patternregistry.menu"
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.incquery.patternregistry.register"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.incquery.patternregistry.unregister"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.incquery.patternlanguage.emf.EMFPatternLanguage">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.incquery.patternregistry.IQBasedViewExecutableExtensionFactory:org.eclipse.incquery.patternregistry.handlers.LoadEiqPatternHandler"
            commandId="org.eclipse.incquery.patternregistry.register">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.incquery.patternregistry.activepatterneditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.incquery.patternregistry.IQBasedViewExecutableExtensionFactory:org.eclipse.incquery.patternregistry.handlers.UnLoadEiqPatternHandler"
            commandId="org.eclipse.incquery.patternregistry.unregister">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.incquery.patternregistry.activepatterneditor">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.incquery.patternregistry.activepatterneditor">
         <with
               variable="activeEditorId">
            <equals
                  value="org.eclipse.incquery.patternlanguage.emf.EMFPatternLanguage">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
