<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bme.hu/mit/incquery/vedl/Edl" 
       class = "hu.bme.mit.incquery.vedl.edl.EdlPackage"
       genModel = "hu/bme/mit/incquery/vedl/Edl.genmodel" /> 
	
  </extension>




</plugin>
