<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
Copyright (c) 2009 Jens von Pilgrim and others.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
   Jens von Pilgrim - initial API and implementation 
-->
<plugin>
	<extension point="org.eclipse.ui.newWizards">
	 
      <category
      		name="%_UI_Wizard_category"
            id="org.eclipse.gef3d.examples"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.eclipse.ui.Examples/org.eclipse.gef3d.examples"
            class="org.eclipse.gef3d.examples.graph.editor.wizard.GraphWizard"
            hasPages="true"
            icon="icons/graph3d.gif"
            id="org.eclipse.gef3d.examples.graph.editor.GraphWizard"
            name="%_UI_GraphModelWizard_label"
            project="false">
         <description>%_UI_GraphModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gef3d.examples.graph.editor.GraphEditorMulti2_5D"
            contributorClass="org.eclipse.gef3d.examples.graph.editor.actions.GraphEditorActionBarContributor"
            extensions="%_UI_GraphEditorFilenameExtensionsMulti"
            icon="icons/graphMulti.gif"
            id="org.eclipse.gef3d.samples.graph.editor.GraphEditorMultiDia3D"
            name="Multiple Graphs in Dia2D Mode Sample">
      </editor>
      <editor
            class="org.eclipse.gef3d.examples.graph.editor.GraphEditor3D"
            extensions="%_UI_GraphEditorFilenameExtensions"
            id="org.eclipse.gef3d.samples.graph.editor.GraphEditor"
            icon="icons/graph3d.gif"
            name="%_UI_GraphEditor3D_label"
            contributorClass="org.eclipse.gef3d.examples.graph.editor.actions.GraphEditorActionBarContributor"
            >
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gef3d.examples.graph.editor.GraphEditor2_5D"
            extensions="%_UI_GraphEditorFilenameExtensions"
            id="org.eclipse.gef3d.samples.graph.editor.GraphEditorDia3D"
            icon="icons/graph2.5d.gif"
            name="%_UI_GraphEditor2_5D_label"
            contributorClass="org.eclipse.gef3d.examples.graph.editor.actions.GraphEditorActionBarContributor"
            >
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gef3d.examples.graph.editor.GraphEditor2D_3Dfied"
            extensions="%_UI_GraphEditorFilenameExtensions"
            id="org.eclipse.gef3d.samples.graph.editor.GraphEditor3Dfied"
            icon="icons/graph2d_3dfied.gif"
            name="%_UI_GraphEditor2D_3Dfied_label"
            contributorClass="org.eclipse.gef3d.examples.graph.editor.actions.GraphEditorActionBarContributor"
            >
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gef3d.examples.graph.editor.GraphEditor2D"
            extensions="%_UI_GraphEditorFilenameExtensions"
            id="org.eclipse.gef3d.samples.graph.editor.GraphEditor2D"
            icon="icons/graph2d.gif"
            contributorClass="org.eclipse.gef3d.examples.graph.editor.actions.GraphEditorActionBarContributor"
            name="%_UI_GraphEditor2D_label">
      </editor>
   </extension>
   
  
   

</plugin>
