<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- Class -->
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gef3d.examples.uml2.clazz.part.UMLClassDiagramEditor3D"
            default="false"
            extensions="umlclass"
            id="org.eclipse.gef3d.examples.uml2.clazz.part.UMLDiagramEditor3D"
            name="UML Tools Class Editor 3D">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gef3d.examples.uml2.multi.part.MultiGraphicalEditor3D"
            default="false"
            extensions="umlclass,umlusc,umlact"
            id="org.eclipse.gef3d.examples.uml2.multi.part.MultiGraphicalEditor3D"
            name="Multi Editor 3D">
      </editor>
   </extension>
   
    <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.eclipse.gef3d.examples.uml2.clazz.providers.UMLClassEditPartProvider3D">
         <Priority name="Medium"></Priority>
      </editpartProvider>
   </extension>
   
   
   
   
    <!-- Activity -->
     <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gef3d.examples.uml2.activity.part.UMLActivityDiagramEditor3D"
            default="false"
            extensions="umlact"
            id="org.eclipse.gef3d.examples.uml2.activity.part.UMLDiagramEditor3D"
            name="UML Tools Activity Editor 3D">
      </editor>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.eclipse.gef3d.examples.uml2.activity.providers.UMLActivityEditPartProvider3D">
         <Priority name="Medium"></Priority>
      </editpartProvider>
   </extension>
   
   
   <!-- Use Case --> 
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gef3d.examples.uml2.usecase.part.UMLUseCaseDiagramEditor3D"
            default="false"
            extensions="umlusc"
            id="org.eclipse.gef3d.examples.uml2.usecase.part.UMLDiagramEditor3D"
            name="UML Tools Use-Case Editor 3D">
      </editor>
   </extension>
   
   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="org.eclipse.gef3d.examples.uml2.usecase.providers.UMLUseCaseEditPartProvider3D">
         <Priority name="Medium"></Priority>
      </editpartProvider>
   </extension>
   
   
   <!-- Palette Providers (new with 3.5)-->
   <extension  point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders" id="palette-provider">
   <paletteProvider
         class="org.eclipse.uml2.diagram.clazz.part.PaletteFactoryProvider">
      <Priority name="Lowest" />
      <editor id="org.eclipse.gef3d.examples.uml2.clazz.part.UMLDiagramEditor3D"/>
   </paletteProvider>
   </extension>
   <extension  point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders" id="palette-provider">
	   <paletteProvider
    	     class="org.eclipse.uml2.diagram.usecase.part.PaletteFactoryProvider">
      	<Priority name="Lowest" />
         <editor id="org.eclipse.gef3d.examples.uml2.usecase.part.UMLDiagramEditor3D"/>
   	</paletteProvider>
	</extension>
	
	<extension  point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders" id="palette-provider">
   <paletteProvider
         class="org.eclipse.uml2.diagram.clazz.part.PaletteFactoryProvider">
      <Priority name="Lowest" />
      <editor id="org.eclipse.gef3d.examples.uml2.multi.part.MultiGraphicalEditor3D"/>
   </paletteProvider>
   </extension>
   <extension  point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders" id="palette-provider">
	   <paletteProvider
    	     class="org.eclipse.uml2.diagram.usecase.part.PaletteFactoryProvider">
      	<Priority name="Lowest" />
         <editor id="org.eclipse.gef3d.examples.uml2.multi.part.MultiGraphicalEditor3D"/>
   	</paletteProvider>
	</extension>
  
   
 
  
</plugin>
