<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="models/cepsm.genmodel"
            uri="cep.meta"
            class="hu.bme.mit.incquery.cep.metamodels.cep.CepPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="cep"
            class="hu.bme.mit.incquery.cep.metamodels.cep.util.CepResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="models/cepsm.genmodel"
            uri="sm.meta"
            class="hu.bme.mit.incquery.cep.metamodels.internalsm.InternalsmPackage">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="internalsm"
            class="hu.bme.mit.incquery.cep.metamodels.internalsm.util.InternalsmResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.finishedStateMachine"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.FinishedStateMachineQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.finishedStateMachine">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.finalState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.FinalStateQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.finalState">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.finalState"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.FinalStateEvaluator1_1"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.finalState_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.latestEvent"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.LatestEventQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.latestEvent">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.stateWithTimeconstraint"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.StateWithTimeconstraintQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.stateWithTimeconstraint">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.stateWithSTOPTimeconstraint"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.StateWithSTOPTimeconstraintQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.stateWithSTOPTimeconstraint">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.stateWithSTARTTimeconstraint"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.StateWithSTARTTimeconstraintQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.stateWithSTARTTimeconstraint">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.stateWithCHECKTimeconstraint"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.StateWithCHECKTimeconstraintQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.stateWithCHECKTimeconstraint">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.transition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.TransitionQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.transition">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.preState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.PreStateQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.preState">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.guardAtomicPattern"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.GuardAtomicPatternQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.guardAtomicPattern">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.eventHandledByEventToken"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.EventHandledByEventTokenQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.eventHandledByEventToken">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.eventHandledByState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.EventHandledByStateQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.eventHandledByState">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.atomicPatternType"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.AtomicPatternTypeQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.atomicPatternType">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.enabledTransition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.EnabledTransitionQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.enabledTransition">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.tokenInTrapState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.TokenInTrapStateQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.tokenInTrapState">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.initState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.InitStateQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.initState">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.partiallyMatchedEventPattern"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.runtime.evaluation.queries.util.PartiallyMatchedEventPatternQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.runtime.evaluation.queries.partiallyMatchedEventPattern">
      </matcher>
   </extension>

</plugin>
