<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.draw3d.ui.preferences.dialog.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.draw3d.ui.preferences.dialog.Draw3DPreferencePage"
            id="org.eclipse.draw3d.ui.draw3dPreferences"
            name="Draw3D">
      </page>
      <page
            category="org.eclipse.draw3d.ui.draw3dPreferences"
            class="org.eclipse.draw3d.ui.preferences.dialog.CameraPreferencePage"
            id="org.eclipse.draw3d.ui.cameraPreferences"
            name="Camera Controls">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.draw3d.ui.viewer.ShapeViewer"
            contributorClass="org.eclipse.draw3d.ui.viewer.Draw3DViewerActionBarContributor"
            default="false"
            extensions="shape"
            id="org.eclipse.draw3d.ui.ShapeViewer"
            name="Shape Viewer">
      </editor>
   </extension>

</plugin>
