<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri="cep.meta"
            class="hu.bme.mit.incquery.cep.metamodels.cep.CepPackage"
            genModel="models/cepsm.genmodel"/>
	<package
            uri="sm.meta"
            class="hu.bme.mit.incquery.cep.metamodels.internalsm.InternalsmPackage"
            genModel="models/cepsm.genmodel"/>
   </extension>

</plugin>
