<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.componentA"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.util.ComponentAQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.componentA">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.componentB"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.util.ComponentBQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.componentB">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.componentC"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.util.ComponentCQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.componentC">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.compoundEvent"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.util.CompoundEventQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.casestudy.transaction.incquery.patterns.sample.compoundEvent">
      </matcher>
   </extension>

</plugin>
