/ComponentA_AppearedProcessor.java
/ComponentA_AppearedQuerySpecification.java
/ComponentB_AppearedProcessor.java
/ComponentB_AppearedQuerySpecification.java
/ComponentC_AppearedProcessor.java
/ComponentC_AppearedQuerySpecification.java
/CompoundEventProcessor.java
/CompoundEventQuerySpecification.java
