<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="src/hu/bme/mit/incquery/cep/performance/md/metamodel/transaction.genmodel"
            uri="performance.transaction.meta"
            class="hu.bme.mit.incquery.cep.performance.md.metamodels.performancetransaction.TransactionPackage">
      </package>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.performance.md.patterns.componentA"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.performance.md.patterns.util.ComponentAQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.performance.md.patterns.componentA">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.performance.md.patterns.componentB"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.performance.md.patterns.util.ComponentBQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.performance.md.patterns.componentB">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.performance.md.patterns.componentC"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.performance.md.patterns.util.ComponentCQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.performance.md.patterns.componentC">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.performance.md.patterns.componentD"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.performance.md.patterns.util.ComponentDQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.performance.md.patterns.componentD">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.performance.md.patterns.componentE"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.performance.md.patterns.util.ComponentEQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.performance.md.patterns.componentE">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.performance.md.patterns.componentF"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.performance.md.patterns.util.ComponentFQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.performance.md.patterns.componentF">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.performance.md.patterns.componentG"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.performance.md.patterns.util.ComponentGQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.performance.md.patterns.componentG">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.performance.md.patterns.componentH"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.performance.md.patterns.util.ComponentHQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.performance.md.patterns.componentH">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.performance.md.patterns.componentI"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.performance.md.patterns.util.ComponentIQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.performance.md.patterns.componentI">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.cep.performance.md.patterns.componentJ"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.cep.performance.md.patterns.util.ComponentJQuerySpecification$Provider"
            id="hu.bme.mit.incquery.cep.performance.md.patterns.componentJ">
      </matcher>
   </extension>

</plugin>
